.ulBalk{
  color:grey;
  transition: 0.1s ease all;
}


.active{
  color: white;
}
.ulBalk:hover{
  color:white;
  text-decoration: none;
}
.naamProduct{
  display: inline-block;
  margin:0;
}
.leenForm{
  width: 100%;
}
.uitleenBoxId{
  width: 30%;
}
.rechtsForm{
  float: right;
  width: 30%;
}

.productenClass{
  overflow: hidden;
}
.Hide{
  display: none;
}
.dropdown-toggle{
  color: white !important;
}
.dropdown-menu{
  background-color: #84828f;
}
.dropdown-item{
  color: white !important;
}
.dropdown-item:hover{
  color: #84828f !important;
  background-color: white;
}
.button{
  background-color: #6a687a !important;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-bottom: 5%;
  border: white solid 1px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.2s ease all;
  cursor: pointer;
}
.button:hover{
  color: #6a687a;
  background-color: white !important;
  border: #6a687a solid 1px;
  text-decoration: none;
}
.btn{
  margin: 0;
  text-decoration: none;
}
